p{
  width: 80%;
  margin-left: auto;
  height: 90px;
  background-color: #edede6;
  border-bottom: 1px solid black;
  margin-right: auto;
}
img{
  width: 50px;
  height: 49px;
  margin-top: 20px;
}
button{
  width: 10%;  
  border: none;
  background-color: #edede6
}
input{
  border-top: none;
  border-right: none;
  border-left: none;  
  width: 90%;
  background-color: #edede6;
  height: 50px;
  font-size: 30px;

}
